img.imgById{width: 304px;
height: 404px;}

span.indicator{
    /* height: 22%; */
    /* width: 61%; */
    height: 22%;
    width: 29%;
}
div.detallteRight{
    width: 40%;
    margin-top: 50px;
}
div.carousel{
    width: 60%;
}
div.findByIdP{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
div.indicador{
    width: 100%;
    position: absolute;
    /* right: -212px; */
    left: 150px;
}
li.indicadorLi{
    /* margin-left: ; */
}

div.description{
    margin-top: 50px;
}
img.findIdSub:hover{
    transition: all ease .2s;
    transform: scale(1.1);
}

img.findIdSub{
    transition: all ease .2s;
}